@use "../../sass/components/button" as *;
@use "../../sass/variables" as *;

.header {
    display: flex;
    flex-direction: column;
    $-gradient-opacity: 0.4;
    background-image: 
        linear-gradient(0deg, rgba(0,0,0,$-gradient-opacity), rgba(0,0,0,$-gradient-opacity)), 
        url("../../assets/images/market-3466906_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 20rem;

    @media (max-width: $breakpoint-xs) {
        height: 15rem;
    }

    @media (max-width: $breakpoint-xxs) {
        height: 8rem;
        width: 100%;
    }
}

.header__nav {
    display: flex;
    padding: 0.2rem;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1rem;
    list-style: none;
    width: 100%;
    margin-right: 1rem;
    margin-top: 1rem;

    @media (max-width: $breakpoint-xxs) {
        font-size: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
    }
}


@mixin -link-hover {
    &:hover {
        opacity: 0.8;
    }
}


.header__nav-item {
    $-hover-opacity: 0.8;
    $-color: white;

    color: $-color;
    font-size: 1.5rem;

    @media (max-width: $breakpoint-xxs) {
        font-size: 1rem;
    }

    
    .link {
        text-decoration: none;
        color: $-color;
        @include -link-hover()
    }

    .button {
        @include create-button(transparent,white);
        margin-right: 1rem;

        @media (max-width: $breakpoint-xxs) {
            font-size: 0.5rem;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }
    }

    i {
        color: $-color;
        @include -link-hover()
    }


}

.header__title {
    font-size: 4rem;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 0 0 0.2rem rgb(0,0,0,0.5);
    width: 100%;
    height: 50%;
    padding-top: 5%;

    @media (max-width: $breakpoint-xxs) {
        font-size: 2rem;
        letter-spacing: 0.2em;
    }
}


.icon {
    opacity: 0.8;
}