<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/recipes">Recipes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item m-1 p-1 icon" *ngIf="isUserAuthenticated" id="userPageLink">
            <a [routerLink]="['user',currentUser.userId]" class="userAnchor">
                <i-bs name="person" style="color: whitesmoke" width="1.6rem" height="1.6rem"></i-bs>
                <span class="d-none d-sm-inline username" id="username">{{currentUser.username}}</span>
            </a>   
        </li>
        <li class="nav-item m-1 icon" *ngIf="!isUserAuthenticated" id="logInBtn">
            <a routerLink="/login" class="btn btn-light">Einloggen</a>
        </li>
        <li class="nav-item m-1 icon" (click)="onLogout()" *ngIf="isUserAuthenticated" id="logOutbtn">
            <i-bs name="power" style="color: whitesmoke" width="1.6rem" height="1.6rem"></i-bs>
        </li>
      </ul>
</nav>