<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Recipes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item m-1">
            <a routerLink="/login">
                <i-bs name="person" style="color: whitesmoke" width="1.6rem" height="1.6rem"></i-bs>
            </a>
        </li>
        <li class="nav-item m-1">
            <a href="https://github.com/michaelkihm/recipes">
                <i-bs name="github" style="color: whitesmoke" width="1.6rem" height="1.6rem"></i-bs>
            </a>
        </li>
        <li class="nav-item m-1">
            <a routerLink="/signup">Signup</a>
        </li>
      </ul>
</nav>