<header class="header">
    <ul class="header__nav">
        <li class="header__nav-item" *ngIf="isUserAuthenticated" id="addLink">
            <a routerLink="/recipes/add">
                <i class="fas fa-plus-square"></i>
            </a>
        </li>
        <li class="header__nav-item" *ngIf="isUserAuthenticated" id="userPageLink">
            <a class="link" [routerLink]="['user',currentUser.userId]" >
                <i class="fas fa-user-check"></i>
                <span id="username">{{currentUser.username}}</span>
            </a>
        </li>
        <li class="header__nav-item" (click)="onLogout()" *ngIf="isUserAuthenticated" id="logOutbtn">
            <i class="fas fa-sign-out-alt"></i>
        </li>
        <li class="header__nav-item" *ngIf="!isUserAuthenticated" id="logInBtn">
            <a class="button" routerLink="/login">Einloggen</a>
        </li>
    </ul>
    <a class="header__title" routerLink="/recipes">Recipes</a>
</header>