$app-background-color: #f2f3ef!default;

$text-opacity: rgb(0,0,0,0.5)!default;

$color-danger: #A91B0D!default;

$bookmark-color: #0F4D92!default;

/** 1200px or smaller */
$breakpoint-lg: 75em!default;

/** 992px or smaller */
$breakpoint-md: 62em!default;

/** 768px or smaller */
$breakpoint-sm: 48em!default;

/** 576px or smaller */
$breakpoint-xs: 36em!default;

/** 320px or smaller */
$breakpoint-xxs: 20em!default;

/** Breakpoints */
@media (max-width: $breakpoint-lg) {}
@media (max-width: $breakpoint-md) {}
@media (max-width: $breakpoint-sm) {}
@media (max-width: $breakpoint-xs) {}