<div class="container">
    <div class="header__bookmark__plant-icons">
        <div class="plant-icons">
            <app-vegan-icon size="2.5" *ngIf="isVegan()"></app-vegan-icon>
            <app-vegetarian-icon size="2.5" *ngIf="isVegetarian()"></app-vegetarian-icon>
        </div>
        <h2 class="header">{{ recipe.name }}</h2>
        <i 
            *ngIf="user.userId"  
            (click)="onBookmark($event)" 
            [class]="isBookmarked ? 'fas fa-bookmark' : 'far fa-bookmark'">
        </i>
    </div> 
    <div class="recipe-info-container">
        <img [src]="recipe.image" [alt]="recipe.name">
        <div class="duration-button-container">
            <div class="duration">  
                <i class="far fa-clock"></i>
                <p>{{ recipe.duration.duration }} {{ recipe.duration.unit }}</p>
            </div>
            <div class="button-container">     
                <button *ngIf="userIsAuthenticated && userIsCreator" class="button edit-button"  [routerLink]="['/recipes',recipe.id,'edit']">
                    <i class="fas fa-edit"></i>
                </button>
                <button *ngIf="userIsAuthenticated && userIsCreator" class="button remove-button" (click)="openModal(template)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>   
    </div>
    
    <hr>
    <div class="ingerdients-howto-container">
        <div class="ingredients-container">
            <p class="section-header">Zutaten</p>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    {{ingredient.amount}} {{ingredient.unit}} {{ ingredient.name }}
                </li>
            </ul>
        </div>
        <div class="howto-container">
            <p class="section-header">Zubereitung</p>
            <div class="howto-step" *ngFor="let step of recipe.description; let i = index">
                <p class="howto-step__header">Schritt {{i + 1}}</p>
                <p>{{step}}</p>
            </div>
        </div>
    </div>
    <hr>
    <ul class="categories-container">
        <li *ngFor="let category of recipe.categories">
            {{ category | recipeCategoryTranslator}}
        </li>
    </ul>
</div>

<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Rezept für {{recipe.name}} löschen</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-danger mr-1" (click)="removeRecipe()">Ja</button>
       <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Nein</button>
    </div>
 </ng-template>


