<div>
    <div class="row">
        <div class="col">
            <img class="img-thumbnail" [src]="recipe.image" [alt]="recipe.name">
        </div>
        <div class="col">
            <div class="row">
                <h2>{{ recipe.name }}</h2>
                <button *ngIf="userIsAuthenticated && userIsCreator" class="btn btn-primary m-1" [routerLink]="['/recipes',recipe.id,'edit']">Edit</button>
                <button *ngIf="userIsAuthenticated && userIsCreator" class="btn btn-danger m-1">Remove</button>
            </div>
            <div>
                <p>Kategorien</p>
                <ul>
                    <li *ngFor="let category of recipe.categories">{{ category }}</li>
                </ul>
            </div>
            <p>Fertig in: {{ recipe.duration.duration }} {{ recipe.duration.unit }}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Zutaten</p>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.name }}: {{ingredient.amount}} {{ingredient.unit}}
                </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li *ngFor="let step of recipe.description">{{ step }}</li>
            </ul>
        </div>
    </div>
</div>
