@use "../../../sass/variables" as *;

.container {
    padding: 2rem; 
}

.header__bookmark__plant-icons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 0.5rem;

    .header {
        padding-bottom: 0.5rem;
        font-size: 2rem;
    }

    .fa-bookmark {
        font-size: 1.6rem;
    };

    .fas {
        color: $bookmark-color;
        &:hover {
            opacity: 0.7;
        }
    }

    .far {
        color: $text-opacity;
        &:hover {
            color: $bookmark-color;
        } 
    }

    .plant-icons {
        align-self: center;
    }
}


.recipe-info-container {
    

    img {
        width: 60%;
        max-height: 40rem;
    }

    .duration-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $text-opacity;

        .duration {
            display: flex;
            flex-direction: row;
            column-gap: 0.2rem;
        }

        .button-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $text-opacity;

            .button {
                font-size: 1.3rem;
                
                padding-left: 0.2rem;
                border: none;
                background-color: white;

                &.edit-button {
                    &:hover {
                        color: #0F4D92
                    }
                }

                &.remove-button {
                    &:hover {
                        color: $color-danger
                    }
                }
            }
       
        }
    }

}


.ingerdients-howto-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .section-header {
        font-weight: 800;
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
        letter-spacing: 0.15em;
        font-family: 'Times New Roman', serif;
    }

    .ingredients-container {
        width: 30%;

        ul {
            list-style-type: none;
        }
        li:before{
            content: "-";
        }
    }

    .howto-container {
        .howto-step{
            padding-bottom: 0.5rem;
            .howto-step__header{
                font-weight: 600;
                padding-bottom: 0.25rem;
            }
        }
    }
}

.categories-container {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.4rem;
    list-style-type: none;

    li:not(:last-child)::after {
        content: "-";
    }
}