<div class="card" [routerLink]="['/recipes',recipe.id]">
    <img  [src]="recipe.image" alt="{{recipe.name}}">
    <div class="row">
        <h2>{{ recipe.name }}</h2>
        <i 
            *ngIf="user.userId"  
            (click)="onBookmark($event)" 
            [class]="isBookmarked ? 'fas fa-bookmark' : 'far fa-bookmark'">
        </i>
    </div>   
    <div class="duration">
        <i class="far fa-clock"></i>
        <p>{{ recipe.duration.duration }} - {{ recipe.duration.unit }}</p>  
    </div>
    
</div>