<div class="container">
    <h2>Signup</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form--element">
            <label for="username">Username</label>
            <input 
                type="text" 
                id="username"
                placeholder="Username" 
                formControlName="username"
            >
        </div>
        <div class="form--element">
            <label for="email">Email</label>
            <input 
                type="email" 
                placeholder="Email" 
                id="email" 
                formControlName="email"
            >
        </div>
        <div class="form--element">
            <label for="password">Password</label>
            <input 
                type="password" 
                placeholder="Password" 
                id="password"
                formControlName="password"
            >
        </div>
        <div>
            <button class="upload-button" type="button" (click)="filePicker.click()">
                <i class="fas fa-file-upload"></i>
                Bild hochladen
            </button>
            <input type="file" #filePicker (change)="onImagePicked($event)"/>
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && $any(userForm.get('image')).valid" >
            <img [src]="imagePreview" [alt]="userForm.value.username">
        </div>
        <button type="submit" class="signup-button">Signup</button>
    </form>
</div>
