$-text-color: black;

.container {
    padding: 1rem;
    box-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
    border: 1px solid rgba(14, 13, 13, 0.692);
    margin-left: 0.5rem;
    background-color: white;
    color: $-text-color
}

.category {
    width: 60%;
    padding: 0.2rem;
    display: flex;
    align-items: center;

    .checkbox {
        transform: scale(1.5);

        &[type="checkbox"]:checked {
            background-color: green;
            color: blueviolet
        }
    }
    
    .label {
        display: flex;
        padding-left: 0.5rem;
    }
}

