<div 
    *ngFor="let recipe of recipes" 
    (click)="onClick(recipe.id)" 
    class="container" 
    style="max-width: 540px;" 
    [id]="'listCardDiv' + '-' + recipe.id">
        <img [src]="recipe.image" [alt]="recipe.name">
        <h4 class="card-title">{{recipe.name}}</h4>      
        <div class="col" *ngIf="removeBtn">
            <i-bs 
                name="x-circle-fill" 
                width="25" height="25" 
                class="close-button" 
                (click)="removeRecipe($event,recipe.id)"></i-bs>
        </div>   
</div>
